:root {
  --primary: #508AA8;
  --secondary: #C8E0F4;
  --tertiary: #9dd1f1;
  --light: #fafafa;
  --dark: #000000;
  --darker: #031927;
}

* {
  box-sizing: border-box;
}

html{
  min-height: 100%;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
  color: var(--dark);
}

.app{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}


header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 25px;
  background-color: var(--primary);
}

header h2 {
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
}

.navbar{
  margin: 7px 0;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}

.navbar ul li a {
  padding: 10px 15px;
  font-size: 1.2rem;
}

header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-colorcolor);
  border-radius: 15px;
  text-shadow: none;
}

/* === Card Styles === */

.grid-container{
  display: grid;
  place-items: center;
  max-width: 200rem;
}

.card {
  background-color: #031927;
  border-radius: 0.2rem;
}

.card-links {
  display: flex;
  justify-content: space-evenly;
}

.columns{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1em;
}

.card__img {
  border-radius: 0.2rem 0.2rem 0 0 ;
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  object-position: left;
}

.card-content{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.card-info-container {
  margin: 0 3rem;
}

.card-info{
  margin-bottom: 2rem;
}

.card-links button {
  background-color: #9DC7C8;
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  margin-bottom: 0.5rem;
}

.card-links button a {
  color: #333;
  text-decoration: none;
}

.card-links button:hover {
  opacity: .9;
}


.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.navActive {
  color: var(--darker);
}

.noNavActive{
  color: var(--light);
}

.section-title{
  text-align: center;
  font-size: 2rem;
  padding: 5px;
  color: var(--darker);   
}

/* Contact Section Styles */

.section-title-secondary{
  text-align: center;
  font-size: 32px;
  padding: 25px;
  color: var(--accent2-color);   
}

.contact-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.footer-icons{
  color: var(--darker);
}

.footer-icons-row{
  display: flex;
}

.footer-icons-row p {
  margin-left: 1rem;
}

/* About Me Section */

.profile-card{
  max-width: 90%;
  margin: 1rem auto;
}

.profile-info{
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  background: var(--tertiary);
  color: var(--secondary);
}

.img-container{
  width: 50%;
  margin: 1rem;
}

.img-container img{
 max-width: 100%;
 object-fit: cover;
}

.bio{
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  margin: 0 0 0.4rem 1.5rem;

}

.bio h2{
  font-size: 2rem;
}

.bio p{
  max-width: 80%;
  flex: 1;
}

/* Resume Section */

.resume-section{
  max-width: 60%;
  margin: 0 auto;
  color: var(--darker);
}

/* Media Queries */

