
/* === SET UP & UTILITY === */

:root {
  --primary: #F7F6F2;
  --secondary: #F0E5CF;
  --background: #C8C6C6;
  --accent: #4B6587;
  --accent2: #D2CCA1;
}

* {
  box-sizing: border-box;
}

html{
  min-height: 100%;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: var(--background);
}

.app{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  cursor: pointer;
}

section{
  margin-top: 3rem;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}


/* === HEADER === */

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;
  background-color: var(--primary);
}

header h2 {
  font-weight: bold;
  font-size: 1.7rem;
  margin: 0;
}

header a {
  color: var(--secondary);
}

.navbar{
  margin: 7px 0;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navbar li {
  cursor: pointer;
}

.navbar ul li a {
  padding: 10px 15px;
  font-size: 1.2rem;
}

header nav ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-colorcolor);
  border-radius: 15px;
  text-shadow: none;
}

/* === Card Styles === */

.grid-container{
  display: grid;
  place-items: center;
  max-width: 200rem;
}

.card {
  background-color: var(--accent);
  border-radius: 0.2rem;
}

.card-links {
  display: flex;
  justify-content: space-evenly;
}

.columns{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  margin: 0 2rem;
}

.card__img {
  border-radius: 0.2rem 0.2rem 0 0 ;
  width: 100%;
  aspect-ratio: 2 / 1;
  object-fit: cover;
  object-position: left;
}

.card-content{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.card-info-container {
  margin: 0 3rem;
}

.card-info{
  margin-bottom: 2rem;
}

.card-links button {
  background-color: var(--background);
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  margin-bottom: 0.5rem;
}

.card-links button a {
  color: #333;
  text-decoration: none;
}

.card-links button:hover {
  opacity: .9;
}

/* ABOUT SECTION */

.profile-card{
  max-width: 80%;
  margin: 0 auto;
  background-color: var(--accent2);
}

.profile-info{
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: var(--accent);
}

.img-container{
  max-width: 23em;
  max-height: auto;
  margin: 1rem;
}

.img-container img{
 max-width: 100%;
 object-fit: cover;
}

.bio{
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  margin: 0 0 0.4rem 1.5rem;
}

.bio h2{
  font-size: 2rem;
}

.bio p{
  max-width: 80%;
  flex: 1;
  font-size: 1em;
}

.social-icons-col{
  display: flex;
}

.social-icons-col p {
  margin-left: 1rem;
}

.bio-social-icons {
  color: var(--light);
}

/* === FOOTER === */

footer{
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
  margin-top: 3rem;
}

.footer-social-container{
  margin-right: 1rem;
}

.footer-icons{
  color: var(--darker);
  margin: 0.3rem;
}

.footer-icons:hover{
  color: var(--accent);
  cursor: pointer;
}

/* Media Queries */

